<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Bike Store Rental</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>


<!--
    <nav>
        <a href="/first_app/"> Home </a>
        <a href="/first_app/rent/customer/">Our Customers</a>
        <a href="/first_app/rent/rental/" >Our Rentals</a>
    </nav>

-->

    <h1>Welcome bande de gros fils de putes</h1>

    <h3>Here is a list of all <a href="/first_app/menu/rental/">rentals</a></h3>
    <h3>Here is a list of all <a href="/first_app/menu/customers/">Customers</a></h3>
    <h3>Here you can <a href="/first_app/menu/addrent/">add a rental</a></h3>
    <h3>Here you can <a href="/first_app/menu/addcusto/">add a fucking customer</a></h3>
    <h3>Here you can <a href="/first_app/menu/addvehicle/">add a fucking vehicle</a></h3>
</body>
</html>